PRODPIPES_API_URL=https://prodpipes.com
PRODPIPES_ENROLLMENT_TOKEN=
PRODPIPES_AGENT_TOKEN=
PRODPIPES_AGENT_NAME=
PRODPIPES_POLL_INTERVAL_MS=5000
PRODPIPES_JOB_TIMEOUT_MS=900000
PRODPIPES_MCP_TOKEN=
PRODPIPES_MCP_HOST=127.0.0.1
PRODPIPES_MCP_PORT=8787
PRODPIPES_ADMIN_TOKEN=
CEREBROBRASIL_API_URL=https://cerebrobrasil.com.br
CEREBROBRASIL_API_KEY=
GITHUB_REPOSITORY_URL=
GITHUB_TOKEN=
GITLAB_REPOSITORY_URL=
GITLAB_USERNAME=
GITLAB_TOKEN=
